/* font akira */

@import url('http://fonts.cdnfonts.com/css/akira-expanded');

/* scroll */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #8d8d8d;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    background: transparent;
}


/* body */

body {
    font-family: "Glory";
}


/* loading */

.loader {
    width: 100px;
    height: 100px;
    margin: 110px auto 0;
    border: solid 10px #FBD444;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    transition: all 0.5s ease-in;
    animation-name: rotate;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.loading-page {
    margin-left: 5px;
    margin-top: 200px;
}


/* menu */

#menu {
    font-family: "Akira Expanded";
}

.icon-menu {
    display: none;
}

.icon-menu-2 {
    margin-left: 10px;
    margin-top: 12px;
    background-image: url("../guest/assets/images/icon-menu.png");
    background-size: cover;
    width: 30px;
    height: 30px;
}

.icon-menu-2:hover {
    background-image: url("../guest/assets/images/icon-menu-hover.png");
}

.icon-menu-hover {
    margin-left: 10px;
    margin-top: 40px;
    background-image: url("../guest/assets/images/icon-close.png");
    background-size: cover;
    width: 25px;
    height: 25px;
}

.icon-menu-hover:hover {
    background-image: url("../guest/assets/images/icon-close-hover.png");
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #B22727;
    z-index: 99999;
    animation-name: menu;
    animation-duration: 0.5s;
}

@keyframes menu {
    0% {
        left: 0px;
        top: -400px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

.menu-2 ul li {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.line-header {
    margin-top: 10px;
    border: 1px solid #fbd34473;
}


/* header */

.active {
    color: #FBD444;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 95px;
    background-color: #B22727;
    font-family: "Akira Expanded";
    border-bottom: 1px solid #fbd34473;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo-header {
    margin-left: 20px;
}

.text-header p {
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 5px;
    width: 400px;
}

.menu ul {
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}

.menu ul li {
    margin: 22px 25px;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

ul li a:hover {
    color: #FFF008;
}


/* main */

main {
    position: relative;
    background-color: #B22727;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    z-index: 9999;
    margin-top: 90px;
}

.slider-1 .carousel-inner {
    height: 600px;
}

.slider-1 .owl-prev,
.slider-1 .owl-next {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    display: block !important;
}

.slider-1 .owl-prev {
    left: 20px;
}

.slider-1 .owl-next {
    right: 28px;
}

.slider-1 .owl-prev i,
.slider-1 .owl-next i {
    color: white;
    font-size: 20px;
}

.slider-1 .owl-dots {
    position: relative;
    margin-top: -80px;
    z-index: 9999;
}

.slider-1 .owl-stage {
    display: flex;
    align-items: center;
}

.slider-1 .caption {
    position: relative;
    bottom: 400px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: "Akira Expanded";
}


/* bg-content */

.bg-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.1;
    z-index: -9;
}

.bg-content img {
    width: 100%;
    height: 100%;
}


/* profil */

.text-beranda {
    margin-top: 100px;
    text-align: center;
    color: white;
}

.text-beranda h1 {
    font-family: "Akira Expanded";
    font-weight: bold;
    font-size: 35px;
}

.box-profil {
    width: 300px;
    text-align: center;
    background-color: #FF8D29;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-family: "Akira Expanded";
    border-radius: 20px;
}

.box-profil:hover {
    background-color: #ce7223;
}

.box-profil span {
    font-weight: 600;
}


/* kementerian */

.text-kementerian {
    font-family: "Akira Expanded";
    margin-top: 80px;
    text-align: center;
    color: white;
}

.box-kementerian {
    color: white;
    font-weight: 600;
    background-color: #FF8D29;
    padding: 10px;
    font-family: "Akira Expanded";
    border-radius: 20px;
}

.box-kementerian h4 {
    font-size: 18px;
    font-weight: 600;
}

.box-mentri {
    background-color: white;
    width: 260px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 20px;
}

.box-mentri p {
    margin-bottom: 0px;
    color: #8e1d1e;
    font-weight: 600;
}

.box-mentri h4 {
    color: #edc150;
    font-weight: 600;
}

#owl-demo .owl-prev,
#owl-demo .owl-next {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 40%;
    display: block !important;
}

#owl-demo .owl-prev {
    left: -60px;
}

#owl-demo .owl-next {
    right: -50px;
}

#owl-demo .owl-prev i,
#owl-demo .owl-next i {
    color: #edc150;
    font-size: 20px;
}


/* ormawa */

.ormawa {
    width: 100%;
    height: 600px;
}

.ormawa .caption {
    position: relative;
    bottom: 440px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.text-ormawa {
    margin-top: 80px;
}

.text-ormawa h1 {
    font-family: "Akira Expanded";
    font-size: 35px;
    font-weight: bold;
}

.bg-ormawa {
    background-color: #FAD861;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.bg-ormawa h4 {
    color: #B22727;
    font-weight: bold;
}

.btn-showall button {
    background-color: #B22727;
    border-radius: 20px;
    color: white;
    font-weight: 600;
}

.btn-showall button:hover {
    color: #FAD861;
}


/* news */

.text-news {
    margin-top: 80px;
}

.text-news h1 {
    font-family: "Akira Expanded";
    font-weight: bold;
    font-size: 35px;
}

.img-news img {
    margin: auto;
    display: block;
    border-radius: 15px;
}

.image {
    position: relative;
    width: 300px;
    height: 400px;
    margin: auto;
    border-radius: 15px;
}

.image-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.438);
    opacity: 0;
    transition-duration: 0.5s;
    border-radius: 15px;
}

.image-text>* {
    transform: translateX(-50px);
    transition: transform 0.5s;
}

.image-text:hover {
    opacity: 1;
}

.image-text:hover>* {
    transform: translateY(0px);
}

.img-news p {
    margin: auto;
    width: 285px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}


/* page news */

.news h1 {
    color: white;
    font-family: "Akira Expanded";
    font-size: 25px;
    font-weight: bold;
}

.news h5 {
    font-weight: 600;
    text-align: justify;
    color: white;
    margin-top: 40px;
}

.news img {
    margin-top: 20px;
    border-radius: 15px;
}


/* page profil */

.box-profil-page {
    width: 250px;
    text-align: center;
    background-color: #FF8D29;
    font-size: 25px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Akira Expanded";
    font-size: 18px;
    padding: 5px;
    border-radius: 20px;
}

.box-profil-page span {
    color: white;
    font-weight: 600;
}

.text-profil-page h4 {
    color: white;
    font-weight: 600;
}

.box-visi {
    width: 160px;
    text-align: center;
    background-color: #FF8D29;
    font-size: 25px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Akira Expanded";
    font-size: 18px;
    padding: 5px;
    border-radius: 20px;
}

.box-visi span {
    color: white;
    font-weight: 600;
}

.text-visi h4 {
    color: white;
    font-weight: 600;
}

.box-misi {
    width: 330px;
    text-align: center;
    background-color: #FF8D29;
    font-size: 20px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Akira Expanded";
    font-size: 18px;
    padding: 5px;
    border-radius: 20px;
}

.box-struktur {
    width: 300px;
    text-align: center;
    background-color: #FF8D29;
    font-size: 25px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Akira Expanded";
    font-size: 18px;
    padding: 5px;
    border-radius: 20px;
}

.box-misi span {
    color: white;
    font-weight: 600;
}

.text-misi h5 {
    color: white;
    font-weight: 600;
}

.box-struktur span {
    color: white;
    font-weight: 600;
}

.img-struktur {
    border-radius: 18px;
}


/* page kementerian */

.kementerian {
    width: 100%;
    height: 600px;
}

.kementerian .caption {
    position: relative;
    bottom: 450px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: "Akira Expanded";
    font-weight: bold;
}

.title-unit {
    margin-top: 60px;
    text-align: center;
    color: white;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 10px;
    font-family: "Akira Expanded";
}

.title-unit h1 {
    font-weight: bold;
    font-size: 35px;
}

.title-kementerian {
    margin-top: 60px;
    text-align: center;
    color: white;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 10px;
    font-family: "Akira Expanded";
}

.title-kementerian h1 {
    font-weight: bold;
    font-size: 35px;
}

.img-menteri {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.img-menteri h4 {
    position: relative;
    bottom: 30px;
    font-weight: 600;
}

.img-menteri h5 {
    position: relative;
    bottom: 10px;
    font-weight: 600;
}


/* page ormawa */

.ormawa {
    height: 580px;
}

.ormawa .caption {
    position: relative;
    bottom: 400px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: "Akira Expanded";
    font-weight: bold;
}

.title-ormawa {
    margin-top: 60px;
    text-align: center;
    color: white;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 10px;
    font-family: "Akira Expanded";
}

.title-ormawa h1 {
    font-size: 35px;
    font-weight: bold;
}

.img-ormawa {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.img-ormawa h5 {
    color: white;
    margin-top: 10px;
    font-weight: 600;
}


/* email aspirasi*/

.img-email-bem {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.text-email h1 {
    font-family: "Akira Expanded";
    color: white;
}

.box-aspirasi {
    text-align: left;
    background-color: #FF8D29;
    font-size: 25px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 20px;
    font-family: "Glory";
}

.box-aspirasi h2 {
    font-family: "Akira Expanded";
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: white;
    font-weight: 600;
    margin-top: 15px;
}

.box-aspirasi h3 {
    text-align: justify;
    color: white;
    font-weight: 600;
}


/* page aspirasi */

.title-aspirasi {
    margin-top: 80px;
    text-align: center;
    color: white;
    font-family: "Akira Expanded";
}

.title-aspirasi h1 {
    font-size: 35px;
    font-weight: bold;
}

.bg-form {
    background-color: white;
    width: 70%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #FBD442;
}

.bg-form label {
    font-weight: 600;
    color: #B22727;
}

.bg-form input {
    border-color: #B22727;
}

.bg-form textarea {
    border-color: #B22727;
}

.text-aspirasi h3 {
    font-family: "Akira Expanded";
    font-size: 20px;
    color: #B22727;
    font-weight: 600;
}

.btn-aspirasi {
    width: 100px;
    color: white;
    background-color: #B22727;
}

.btn-aspirasi:hover {
    color: #FAD861;
}


/* footer */

footer {
    position: relative;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #B22727;
    width: 100%;
    height: 100%;
    padding: 20px 50px 20px 50px;
}

.maps-footer {
    border-radius: 20px;
}

.line-bottom-1 {
    display: none;
}

.line-bottom-2 {
    margin-top: 20px;
    border-bottom: 3px solid white;
}

.text-footer {
    border-right: 3px solid white;
    color: white;
}

.text-footer h4 {
    font-family: "Akira Expanded";
    font-size: 20px;
    font-weight: 600;
}

.text-footer p {
    font-weight: 600;
}

.text-maps h3 {
    font-family: "Akira Expanded";
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.copyright span {
    font-family: "Akira Expanded";
    font-size: 14px;
    font-weight: 600;
}