@media only screen and (min-width: 400px) and (max-width: 575px) {
    .icon-menu {
        display: block;
    }
    .menu {
        display: none;
    }
    .logo-header {
        margin-top: 5px;
        margin-left: -5px;
    }
    .logo-header img {
        width: 70px;
        height: 70px;
    }
    .text-header p {
        margin-left: -25px;
        font-size: 11px;
    }
    .slider-1 .caption {
        bottom: 370px;
        width: 350px;
        font-size: 20px;
    }
    .margin-card {
        margin-bottom: 30px;
    }
    .bg-ormawa img {
        width: 60px;
        height: 60px;
    }
    .text-footer {
        text-align: center;
        border: none;
    }
    .line-bottom-1 {
        display: block;
        margin-top: 20px;
        border-bottom: 3px solid white;
    }
    .text-maps {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .text-maps iframe {
        width: 300px;
    }
    .bg-form {
        width: 90%;
    }
    .news img {
        width: 300px;
        height: 400px;
    }
    .news h1 {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
    .news h5 {
        margin-left: auto;
        margin-right: auto;
        width: 370px;
    }
    .img-struktur img {
        height: 300px;
    }
    .img-menteri img {
        width: 350px;
        height: 350px;
    }
    .kementerian .caption {
        bottom: 450px;
        width: 350px;
        font-size: 20px;
    }
    .ormawa .caption {
        bottom: 390px;
        width: 350px;
        font-size: 20px;
    }
    .text-footer h4 {
        font-size: 18px;
    }
    .text-maps h3 {
        font-size: 18px;
    }
    .title-unit h1 {
        font-size: 20px;
    }
    .title-kementerian h1 {
        font-size: 20px;
    }
    .text-beranda h1 {
        font-size: 25px;
    }
    .box-profil {
        width: 180px;
        font-size: 16px;
    }
    .text-kementerian h1 {
        margin-top: 0px;
        font-size: 25px;
    }
    .box-kementerian h4 {
        font-size: 16px;
    }
    .text-ormawa h1 {
        font-size: 25px;
    }
    .bg-ormawa h4 {
        font-size: 16px;
    }
    .text-news h1 {
        font-size: 25px;
    }
    .news h1 {
        font-size: 25px;
    }
    .box-profil-page {
        width: 180px;
        font-size: 16px;
    }
    .box-visi {
        width: 180px;
        font-size: 16px;
    }
    .box-misi {
        width: 300px;
        font-size: 16px;
    }
    .box-struktur {
        font-size: 16px;
    }
    .title-ormawa h1 {
        font-size: 20px;
    }
    .img-ormawa h5 {
        font-size: 18px;
    }
    .img-menteri h5 {
        font-size: 18px;
    }
    .img-menteri h4 {
        font-size: 18px;
    }
    .title-aspirasi h1 {
        font-size: 20px;
    }
    .text-aspirasi h3 {
        font-size: 18px;
    }
    #owl-demo .owl-prev {
        left: 30px;
    }
    #owl-demo .owl-next {
        right: 30px;
    }
    #owl-demo .owl-prev,
    #owl-demo .owl-next {
        top: 35%;
    }
    .loading-page img {
        width: 80px;
        height: 80px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
    .icon-menu {
        display: block;
    }
    .menu {
        display: none;
    }
    .text-header p {
        margin-left: -30px;
        font-size: 11px;
    }
    .menu-2 ul li {
        margin-top: 35px;
    }
    .slider-1 .caption {
        bottom: 370px;
        width: 580px;
        font-size: 25px;
    }
    .margin-card {
        margin-bottom: 30px;
    }
    .bg-ormawa img {
        width: 60px;
        height: 60px;
    }
    .slider-2 {
        height: 600px;
    }
    .text-footer {
        text-align: center;
        border: none;
    }
    .line-bottom-1 {
        display: block;
        margin-top: 20px;
        border-bottom: 3px solid white;
    }
    .text-maps {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .bg-form {
        width: 90%;
    }
    .news img {
        width: 300px;
        height: 400px;
    }
    .img-struktur img {
        height: 700px;
    }
    .img-menteri img {
        width: 350px;
        height: 350px;
    }
    .kementerian .caption {
        bottom: 420px;
        width: 800px;
        font-size: 25px;
    }
    .ormawa .caption {
        bottom: 390px;
        width: 600px;
        font-size: 25px;
    }
    .text-footer h4 {
        font-size: 18px;
    }
    .text-maps h3 {
        font-size: 18px;
    }
    .title-unit h1 {
        font-size: 20px;
    }
    .title-kementerian h1 {
        font-size: 20px;
    }
    .text-beranda h1 {
        font-size: 25px;
    }
    .box-profil {
        font-size: 16px;
    }
    .text-kementerian h1 {
        margin-top: 0px;
        font-size: 25px;
    }
    .box-kementerian h4 {
        font-size: 16px;
    }
    .text-ormawa h1 {
        font-size: 25px;
    }
    .bg-ormawa h4 {
        font-size: 16px;
    }
    .text-news h1 {
        font-size: 25px;
    }
    .box-profil-page {
        font-size: 16px;
    }
    .box-visi {
        font-size: 16px;
    }
    .box-misi {
        font-size: 16px;
    }
    .box-struktur {
        font-size: 16px;
    }
    .title-ormawa h1 {
        font-size: 20px;
    }
    .img-ormawa h5 {
        font-size: 18px;
    }
    .img-menteri h5 {
        font-size: 18px;
    }
    .img-menteri h4 {
        font-size: 18px;
    }
    .title-aspirasi h1 {
        font-size: 20px;
    }
    .text-aspirasi h3 {
        font-size: 18px;
    }
    #owl-demo .owl-prev {
        left: -60px;
    }
    #owl-demo .owl-next {
        right: -50px;
    }
}